<div>
  <div>
    <p>Jared G. Wasinger - Corvallis, OR</p>
    <a href="https://github.com/jwasinger">Github</a>
    <a href="https://www.linkedin.com/in/jared-wasinger-757067104">LinkedIn</a>

  </div>
</div>
