<style>
  div.about {
    font-size: 20px;
    padding-left: 20px;
  }
</style>
<div class="about">
  <p>Jared G. Wasinger</p>
  <p>Full-stack developer with a passion for problem-solving</p>
  <p>Located in Corvallis, OR</p>
  <a href="https://github.com/jwasinger">Github</a>
  <a href="https://www.linkedin.com/in/jared-wasinger-757067104">LinkedIn</a>
  <a href="mailto:j-wasinger@hotmail.com">Email</a>
</div>
