<style>
  div.about {
    font-size: 20px;
    padding-left: 20px;
  }
</style>
<div class="about">
  <p>Jared G. Wasinger</p>
  <p>Full-stack developer with a passion for problem-solving</p>
  <p>Located in Corvallis, OR</p>

  <md-button class="md-primary" ng-href="https://github.com/jwasinger" target="_blank">Github</md-button>
  <md-button class="md-primary" ng-href="https://www.linkedin.com/in/jared-wasinger-757067104" target="_blank">LinkedIn</md-button>
  <md-button class="md-primary" ng-href="mailto:j-wasinger@hotmail.com">Email</md-button>
</div>
