<style>
  div.about {
    font-size: 20px;
    padding-left: 20px;
  }
</style>
<div class="about">
  <img style="width:200px;" src="img/profile.jpeg"/>
  <h1>Jared G. Wasinger</h1>
  <p> I work on Ethereum.</p> 
  <p> My interests can be broadly classified under distributed systems, virtual machines and storage systems.</p>
  <p> I'm focused on pushing forward open source solutions which increase decentralizion of The Internet and financial systems.</p><br><br>

  <h2>Contact</h2>
  <p>Location: Varies but usually on the west coast of the United States</p>

  <md-button class="md-primary" ng-href="https://github.com/jwasinger" target="_blank">Github</md-button>
  <md-button class="md-primary" ng-href="https://www.linkedin.com/in/jared-wasinger-757067104" target="_blank">LinkedIn</md-button>
  <md-button class="md-primary" ng-href="mailto:j-wasinger@hotmail.com">Email</md-button>
</div>
