<style>
  div.about {
    font-size: 20px;
    padding-left: 20px;
  }
</style>
<div class="about">
  <img style="width:200px;" src="img/profile.jpeg"/>
  <h1>Jared G. Wasinger</h1>
  <p>Software developer and upcoming university graduate:<br><br>
    <i>Oregon State University</i> (B.S. Computer Science expected August, 2017)</p>

  <h2>Contact</h2>
  <p>Location: Corvallis, OR</p>

  <md-button class="md-primary" ng-href="https://github.com/jwasinger" target="_blank">Github</md-button>
  <md-button class="md-primary" ng-href="https://www.linkedin.com/in/jared-wasinger-757067104" target="_blank">LinkedIn</md-button>
  <md-button class="md-primary" ng-href="mailto:j-wasinger@hotmail.com">Email</md-button>
</div>
