<style>
  div.resume {
    max-width: 8.5in;
  }
  
  div.resume div.section-content {
    margin-left: 2em;
  }

  div.resume h2 {
    padding-left: 1em;
  }

  div.resume span {
    font-weight: bold;
  }

  div.resume table.row3 {
    width: 100%;
  }

  .row3 td:nth-child(1) {
    text-align: left;
  }

  .row3 td:nth-child(2) {
    text-align: center;
  }

  .row3 td:nth-child(3) {
    text-align: right;
  }

</style>
<div class="resume">
  <div class='section'> 
    <h2>Education</h2>
    <div class='section-content spread'>
      <span>
        Oregon State University: 
      </span>
      <span>
        B.S. Computer Science 2012 - August 2017 (expected)
      </span>
    </div>
  </div>
  <div class='section'>
    <h2>Qualifications</h2>
    <div class='section-content'>
      <ul>
        <li>
          Modern web design techniques
        </li>
        <li>
          Dev-Ops and automation practices
        </li>
        <li>
          Extensive knowledge of Linux
        </li>
        <li>
          Agile-scrum development processes
        </li>
      </ul>
    </div>
  </div>
  <div class='section'>
    <h2>Work Experience</h2>
    <div class='section-content'>
      <!-- Symantec -->
      <div>
        <table class='row3'>
          <tr>
            <td><span>Symantec</span></td>
            <td>Norton SRE Intern</td>
            <td>October 2015 - present</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Created Jenkins build pipeline for Docker container images
          </li>
          <li>
            Created search engine application to index team documentation from multiple web sources
          </li>
          <li>
            Analyzed alert ticket history to identify error trends
          </li>
          <li>
            Create SQL queries to subnet and assign IP address blocks
          </li>
        </ul>
      </div>

      <!-- Feeney -->
      <div>
        <table class='row3'>
          <tr>
            <td><span>FW-Novatel</span></td>
            <td>SDE Intern</td>
            <td>March 2015 - September 2015</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Created Python scripts to organize device inventory spreadsheets
          </li>
          <li>
            Created frontend components for customer-facing SaaS application
          </li>
          <li>
            Created queries to retrieve customer billing information and cost breakdown
          </li>
        </ul>
      </div>

      <!-- OSU Infrastructure Services -->
      <div>
        <table class='row3'>
          <tr>
            <td><span>OSU Network Services</span></td>
            <td>Student Software Developer</td>
            <td>January 2014 - March 2015</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Created a web application for administration of university emailing lists
          </li>
          <li>
            Migrated mailing list records from plaintext files into a MySQL database
          </li>
          <li>
            Designed frontend components for university DNS/DHCP administration tool
          </li>
        </ul>
      </div>

      <div>
        <table class='row3'>
          <tr>
            <td><span>Oregon State University</span></td>
            <td>CS Teaching Assistant</td>
            <td>September 2013 - January 2014</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Taught labs for introductory Python and C++ classes
          </li>
          <li>
            Tutored students one-on-one to help teach programming concepts
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='section'>
    <h2>Technology</h2>
    <table>
      <tr>
        <td>
          <ul>
            <li> Something</li>
            <li> Something else</li>
            <li> Another thing</li>
            <li> One more thing</li>
          </ul>
        </td>
        <td>
          <ul>
            <li> Something</li>
            <li> Something else</li>
            <li> Another thing</li>
            <li> One more thing</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class='section'>
    <h2>Projects and Contributions</h2>
    <div class="section-content">
      <table class="row2">
        <tr>
          <td><a href="http://192.241.216.182/dashboard">AngularJS Analytics Dashboard</a></span></td>
        </tr>
      </table>
      <ul>

        <li>Analytics dashboard mockup using Angular Material and D3.js</li>
        
      </ul>
      <table class="row2">
        <tr>
          <td><a href="https://github.com/jwasinger/go-scrape-it">Go-Scrape-It- Golang Web Scraper</a></td>
          <td></td>
        </tr>
      </table>
      <ul>
        <li>
          Web scraper written using Golang.
        </li>
      </ul>
    </div>
  </div>
  <md-button class="md-primary" ng-href="http://jwasinger.github.io/downloads/jared_wasinger_resume.pdf" target="_blank">DOWNLOAD PDF</md-button>
</div>
