<style>
  div.projects {
    padding-left: 1em;
    max-width: 8.5in;
  }

  div.projects {
    padding-left: 1em;
  }

  div.spread>* {
    margin-right: 1em;
  }

  div.spread {
    margin-left: 1em;
  }
</style>
<div class="projects">
  <div>
    <h2>AngularJS Analytics Dashboard</h2>
    <p>Analytics dashboard mockup using Angular Material and D3.js</p>
    <img style="width:600px;" src="/img/dashboard-example.png"/>
    <div class="spread">
      <md-button class="md-primary" ng-href="http://jaredw.io/dashboard" target="_blank">Live Demo</md-button>
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/material-dashboard" target="_blank">Github</md-button>
    </div>
  </div>
  <div>
    <h2>Go-Scrape-It- Golang web scraper</h2>

    <p>Recursive scraping of web sites with support for customizable settings including: </p>
  <ul>
    <li>max recursion depth</li>
    <li>ignored links</li>
    <li>throttling to reduce network load on target sites</li>
  </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/go-scrape-it" target="_blank">Github</md-button>
    </div>
  </div>

  <div>
    <h2>Jammer- Mobile-oriented Web App</h2>
    <p>Create and join musical meetups!</p>
    <ul>
      <li>Use of JQuery and Bootstrap on the frontend, and NodeJS/Express on the backend</li>
      <li>MongoDB is used for storing user account credentials and session metadata</li>
    </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/Jammer-App" target="_blank">Github</md-button>
    </div>
  </div>
  <div>
    <h2>Random Network Coding- CDN</h2>
    <p>A method to optimize traffic throughput across a network with multiple servers, clients with intermediary nodes</p>
    <ul>
      <li>
        Proof-of-Concept implementation of Random Network Coding algorithm for use in a Content Delivery Network
      </li>
      <li>
        Implements the functionality of a caching server that optimizes overall network throughput
      </li>
      <!--
      <li>
        See <a href="https://github.com/jwasinger/rnccdn/README.md">here</a> for a more detailed description of Random Network Coding.
      </li>
      -->
    </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/rnccdn" target="_blank">Github</md-button>
    </div>
  </div>
  <div>
    <h2>Websocket Chat</h2>
    <p>Mobile web application for text chat</p>
    <ul>
      <li>Javascript/HTML/CSS with Bootstrap and JQuery on the frontend</li>
      <li>NodeJS/Express on the server-side with</li>
      <li>MongoDB for storing user account info and active user sessions</li>
      <li>Word-cloud visualization using D3 for graphing and Elasticsearch to retrieve all frequently occuring terms</li>
    </ul>
    <img style="width: 400px;" src="/img/websocket_login.png"/>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/websocket_chat" target="_blank">Github</md-button>
    </div>
  </div>
</div>
