<div>
  <h1>Go-Scrape-It</h1>
  <p>Golang web scraping framework</p>
  <ul>
    <li>Multi-stage, asynchronous ETL pipeline</li>
    <li>Customized extraction of text content using CSS selectors</li>
    <li></li>
  </ul>
  <a href="https://github.com/jwasinger/go-scrape-it">Github</a>
</div>
<div>
  <h1>Jammer- Mobile-oriented Web App</h1>
  <p>Create and join musical meetups!</p>
  <ul>
    <li>JQuery and Bootstrap on the frontend</li>
    <li>Nodejs/Express and MongoDB on the backend</li>
  </ul>
  <a href="https://github.com/jwasinger/Jammer-App">Github</a>
</div>
<div>
  <h1>Random Network Coding</h1>
  <p>A technique to optimize network throughput</p>
  <ul>
    <li>C on the backend</li>
    <li>Javascript/HTML/CSS on the frontend</li>
  </ul>
  <a href="https://github.com/ckennard/rnccdn">Github</a>
</div>
<div>
  <h1>Websocket Chat</h1>
  <p>Mobile web application for text chat</p>
  <ul>
    <li>Javascript/HTML/CSS with Bootstrap and JQuery on the frontend</li>
    <li>NodeJS/Express on the server-side</li>
    <li>MongoDB for storing user account info and active user sessions</li>
    <li>Word-cloud visualization using D3 for graphing and Elasticsearch to retrieve all frequently occuring terms</li>
    <li></li>
  </ul>
  <a href="https://github.com/jwasinger/websocket_chat">Github</a>
</div>
