<style>
  div.projects {
    padding-left: 1em;
    max-width: 8.5in;
  }

  div.projects {
    padding-left: 1em;
  }

  div.spread>* {
    margin-right: 1em;
  }

  div.spread {
    margin-left: 1em;
  }
</style>
<div class="projects">
  <div>
    <!--
    <h2>AngularJS Analytics Dashboard</h2>
    <ul>
      <li>Multi-stage, asynchronous ETL pipeline</li>
      <li>Customized extraction of text content using CSS selectors</li>
      <li></li>
    </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="/dashboard" target="_blank">Live Demo</md-button>
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/go-scrape-it" target="_blank">Github</md-button>
    </div>
  </div>
  <div>
    <h2>Go-Scrape-It</h2>
    <p>Golang web scraping framework</p>
    <ul>
      <li>Multi-stage, asynchronous ETL pipeline</li>
      <li>Customized extraction of text content using CSS selectors</li>
      <li></li>
    </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/go-scrape-it" target="_blank">Github</md-button>
    </div>
  </div>
  -->
  <div>
    <h2>Jammer- Mobile-oriented Web App</h2>
    <p>Create and join musical meetups!</p>
    <ul>
      <li>JQuery and Bootstrap on the frontend</li>
      <li>Nodejs/Express and MongoDB on the backend</li>
    </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/Jammer-App" target="_blank">Github</md-button>
    </div>
  </div>
  <div>
    <h2>Random Network Coding</h2>
    <p>A technique to optimize network throughput</p>
    <ul>
      <li>
        Proof-of-Concept implementation of Random Network Coding algorithm for use in a Content Delivery Network.
      </li>
      <li>
        Implements the functionality of a downstream cache that optimizes overall network throughput at the cost of a computational overhead
      </li>
    </ul>
    <div class="spread">
      <md-button class="md-primary" ng-href="https://github.com/jwasinger/rnccdn" target="_blank">Github</md-button>
    </div>
  </div>
  <div>
    <h2>Websocket Chat</h2>
    <p>Mobile web application for text chat</p>
    <ul>
      <li>Javascript/HTML/CSS with Bootstrap and JQuery on the frontend</li>
      <li>NodeJS/Express on the server-side</li>
      <li>MongoDB for storing user account info and active user sessions</li>
      <li>Word-cloud visualization using D3 for graphing and Elasticsearch to retrieve all frequently occuring terms</li>
    </ul>
    <md-button class="md-primary" ng-href="https://github.com/jwasinger/websocket_chat" target="_blank">Github</md-button>
  </div>
</div>
