<style>
  div.resume {
    max-width: 8.5in;
  }
  
  div.resume div.section-content {
    margin-left: 2em;
  }

  div.resume h2 {
    padding-left: 1em;
  }

  div.resume span {
    font-weight: bold;
  }

  div.resume table.row3 {
    width: 100%;
  }

  .row3 td:nth-child(1) {
    text-align: left;
  }

  .row3 td:nth-child(2) {
    text-align: center;
  }

  .row3 td:nth-child(3) {
    text-align: right;
  }

</style>
<div class="resume">
  <div class='resume-header'>
  <div class='section'>
    <h2>Qualifications</h2>
    <div class='section-content'>
      <ul>
        <li>
          Experienced with MVC application creation using AngularJS and Angular Material
        </li>
        <li>
          Experienced with creation of data visualizations using D3.js
        </li>
        <li>
          Knowledge of Agile development practices
        </li>
        <li>
          Experienced with a variety of SQL and NoSQL databases
        </li>
        <li>
          Extensive knowledge of Linux as a development and server environment
        </li>
        <li>
          Experienced with Git for version control
        </li>
      </ul>
    </div>
  </div>
  <div class='section'>
    <h2>Work Experience</h2>
    <div class='section-content'>
      <!-- Symantec -->
      <div>
        <table class='row3'>
          <tr>
            <td><span>Symantec</span></td>
            <td>Norton SRE Intern</td>
            <td>October 2015 - present</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Created a search engine application using Elasticsearch, NodeJS and Python to extract and index relevant SRE team documentation.
          </li>
          <li>
            Created TSQL queries to subnet large IP address blocks
          </li>
          <li>
            Analyzed Jira ticket history to identify trends involving storage errors across Norton cloud services
          </li>
        </ul>
      </div>

      <!-- Feeney -->
      <div>
        <table class='row3'>
          <tr>
            <td><span>FW-Novatel</span></td>
            <td>SDE Intern</td>
            <td>March 2015 - September 2015</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Created Python scripts to organize and simplify hundreds of spreadsheets containing customer data
          </li>
          <li>
            Created frontend components for customer-facing IoT device management SaaS application
          </li>
          <li>
            Created SQL queries to retrieve data for reports of device usage and billing statistics
          </li>
        </ul>
      </div>

      <!-- OSU Infrastructure Services -->
      <div>
        <table class='row3'>
          <tr>
            <td><span>OSU Network Services</span></td>
            <td>Student Software Developer</td>
            <td>January 2014 - March 2015</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Created a web CRUD application backed by a MySQL database for administration of faculty and student emailing lists
          </li>
          <li>
            Migrated emailing list records from plaintext files into a MySQL database
          </li>
          <li>
            Implemented user interface bugfixes for new university-wide DNS/DHCP administration and device inventory tool
          </li>
        </ul>
      </div>

      <div>
        <table class='row3'>
          <tr>
            <td><span>Oregon State University</span></td>
            <td>CS Teaching Assistant</td>
            <td>September 2013 - January 2014</td>
          </tr>
        </table>
        <ul class='job-details'>
          <li>
            Taught labs for introductory Python and C++ classes
          </li>
          <li>
            Tutored students one-on-one to help teach programming concepts
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='section'>
    <h2>Projects and Contributions</h2>
    <div class="section-content">
      <table class="row2">
        <tr>
          <td><a href="https://github.com/jwasinger/Jammer-App">Jammer Mobile Web App</a></span></td>
        </tr>
      </table>
      <ul>
        <li>
          Javascript/HTML/CSS with Bootstrap and JQuery on the frontend
        </li>

        <li>
          NodeJS/Express on the server-side
        </li>

        <li>
          MongoDB for storing user account info and active user sessions
        </li>

        <li>
          Word-cloud visualization using D3 for graphing and Elasticsearch to retrieve all frequently occuring terms
        </li>
      </ul>
      <table class="row2">
        <tr>
          <td><a href="https://github.com/jwasinger/rnccdn">Random Network Coding CDN</a></td>
          <td></td>
        </tr>
      </table>
      <ul>
        <li>
          Proof-of-Concept implementation of Random Network Coding algorithm for use in a Content Delivery Network.  
        </li>
        <li>
          Implements the functionality of a downstream cache that optimizes overall network throughput at the cost of a computational overhead
        </li>
      </ul>
    </div>
  </div>
  <md-button class="md-primary" ng-href="http://jwasinger.github.io/downloads/jared_wasinger_resume.pdf" target="_blank">DOWNLOAD PDF</md-button>
</div>
